$gray-500: #6B7280;
$gray-800: #1F2937;
$gray-900: #111827;

$red-500: #EF4444;
$red-600: #DC2626;

$green-500: #10B981;
$green-600: #059669;


$blue-400: #60A5FA;
$blue-600: #2563EB;
$blue-800: #1E40AF;
